.warp {
  width: 500px;
  height: 200px;
  margin: 8px auto auto auto;
  background-color: rgb(221, 219, 219);
  -webkit-border-radius: 13px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 13px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 13px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  -moz-box-shadow: 0px 0px 12px #424242;
  -webkit-box-shadow: 0px 0px 12px #424242;
  box-shadow: 0px 0px 12px #424242;
}
nav {
  height: 27px;
  background-color: rgb(71, 70, 70);
  -webkit-app-region: drag;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  p {
    color: #fff;
    margin-left: 7px;
    font-size: 16px;
    padding-top: 6px;
    cursor: default;
    float: left;
  }
  ul {
    float: right;
    margin-top: 6px;
    margin-right: 3px;
    color: rgb(158, 156, 156);
    -webkit-app-region: no-drag;
  }
  ul li {
    display: inline;
    height: 100%;
    cursor: pointer;
  }
  ul li:first-child {
    font-size: 17px;
  }
  ul li:first-child:hover {
    color: #74b9ff;
  }
  ul li:last-child {
    font-size: 17px;
  }
  ul li:last-child:hover {
    color: #e17055;
  }
}
.info {
  float: left;
  text-align: left;
  margin-top: -170px;
  padding: 5px;
  color: rgb(107, 106, 106);
  position: relative;
  z-index: 30;

  p {
    margin-top: -21px;
    margin-left: 35px;
    font-size: 16px;
    display: none;
  }
  a {
    color: rgb(107, 106, 106);
  }

  a:hover {
    cursor: pointer;
    color: rgb(65, 64, 64);
  }
}
.icon-info-circled-alt {
  font-size: 23px;
  color: rgb(136, 135, 135);
}
.icon-info-circled-alt:hover {
  color: rgb(105, 105, 105);
  p {
    display: inherit;
  }
}

.loading span {
  display: inline-block;
  -webkit-animation: fadeInOut 500ms infinite alternate;
  -moz-animation: fadeInOut 500ms infinite alternate;
  -ms-animation: fadeInOut 500ms infinite alternate;
  animation: fadeInOut 500ms infinite alternate;
  font-size: 20px;

  &:nth-child(2) {
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    -ms-animation-delay: 600ms;
    animation-delay: 600ms;
  }
  &:nth-child(3) {
    -webkit-animation-delay: 700ms;
    -moz-animation-delay: 700ms;
    -ms-animation-delay: 700ms;
    animation-delay: 700ms;
  }
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
